/* Reset CSS*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}
:root {
  font-size: 62.5%;
  --bg-url: url("../images/dots.svg");
}
hr {
  position: fixed;
  width: 100%;
  height: 1px;
  border: 1px solid #72159d5e;
  margin-top: 10rem;
  backdrop-filter: invert;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  font-size: 1.6rem;
  height: 10rem;
  /* border-bottom: 1px solid #72159d70; */
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  a {
    color: #f1f1f1;
    transition: 0.2s;
    border-radius: 1rem;
    padding: 1rem;
    &:hover {
      background: #ae1fec41;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }
  }
}
body {
  background: rgb(34, 7, 56);
  background: linear-gradient(
    166deg,
    rgba(34, 7, 56, 1) 0%,
    rgba(178, 32, 240, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  height: 100vh;
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: right;

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-block: 5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      transition: 0.2s;

      li {
        border: 1px solid #f1f1f1;
        border-radius: 10rem;
        padding: 1rem;
        width: 60px;
        height: 60px;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .ph,
  .ph-light,
  .ph-fill,
  .ph-thin {
    font-size: 3.5rem;
    color: #f1f1f1;
  }
  .info-container {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  p {
    width: 320px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    img {
      max-width: 320px;
    }
  }
}
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  height: 100vh;
  h2 {
    font-size: 3.4rem;
  }
  .ph-fill{
    font-size: 10rem;
  }
  .content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  a {
    color: #33014d;
    font-weight: 600;
  }
}
